.bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.bottom-section .buttons-container {
  display: grid;
  grid-column-gap: 50px;
  justify-items: center;
}

.bottom-section .buttons-container .up {
  grid-column: span 2;
}
.bottom-section .buttons-container .down {
  grid-column: span 2;
}
.bottom-section .buttons-container .left {
  grid-column: 1;
  grid-row: 2;
}
.bottom-section .buttons-container .right {
  grid-column: 2;
  grid-row: 2;
}
