.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.top-section span {
  font-size: 1.5em;
}
.top-section button {
  padding: 0;
}
.top-section button span {
  font-size: 2em;
  padding: 5px;
  width: 100%;
}
